<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="XLabs.Core" version="2.0.5726-pre6" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="XLabs.Forms" version="2.0.5726-pre6" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="XLabs.IoC" version="2.0.5726-pre6" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="XLabs.Platform" version="2.0.5726-pre6" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="XLabs.Serialization" version="2.0.5726-pre6" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
</packages>